<a href="https://colab.research.google.com/github/CJ7MO/Analyzing-Historical-Stock-Revenue-Data-and-Building-a-Dashboard/blob/main/Market_Sales_Regression_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
path = '/content/drive/MyDrive/Data Science Projects/Market Sales Regression Analysis/Stores.csv'

In [18]:
df = pd.read_csv(path)
df.head()

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620

In [19]:
df.columns

Index(['Store ID ', 'Store_Area', 'Items_Available', 'Daily_Customer_Count',
       'Store_Sales'],
      dtype='object')

In [21]:
print('Numbers of rows in the data frame is: {}'.format(df.shape[0]))

Numbers of rows in the data frame is: 896

In [20]:
df['Store_Sales'].idxmax()

649

In [22]:
df.iloc[649]

Store ID                   650
Store_Area                1989
Items_Available           2414
Daily_Customer_Count       860
Store_Sales             116320
Name: 649, dtype: int64

In [23]:
df['Store_Sales'].idxmin()

31

In [24]:
df.iloc[31]

Store ID                   32
Store_Area               1250
Items_Available          1508
Daily_Customer_Count      990
Store_Sales             14920
Name: 31, dtype: int64

In [26]:
df.drop('Store ID ', axis=1, inplace=True)
df

     Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1659             1961                   530        66490
1          1461             1752                   210        39820
2          1340             1609                   720        54010
3          1451             1748                   620        53730
4          1770             2111                   450        46620
..          ...              ...                   ...          ...
891        1582             1910                  1080        66390
892        1387             1663                   850        82080
893        1200             1436                  1060        76440
894        1299             1560                   770        96610
895        1174             1429                  1110        54340

[896 rows x 4 columns]